*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

.container {
	min-height: 100vh;
	background: #69f;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding: 3%;
}

.title {
	margin-bottom: 5%;
	font-size: 36px;
	text-transform: uppercase;
}

.input {
	width: 100%;
	margin-bottom: 5%;
}

input {
	width: 80%;
	outline: none;
	border: 2px solid #1d1d1d;
	border-radius: 10px;
	background: #bc1339;
	padding: 15px 15px;
	font-size: 15px;
	color: #fff;
}

input::placeholder {
	color: #fafafa;
}

button {
	outline: none;
	background: linear-gradient(#a369af, #b3bc20);
	border: none;
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.case {
	position: relative;
	width: 90%;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	margin-bottom: 15px;
	margin: 0 auto;
	background: #eee;
	color: #0d0d0d;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.case:hover {
	cursor: pointer;
	background: #9c9;
}

.case-out {
	display: block;
	font-size: 20px;
	text-align: left;
}

.case-delete {
	background: #555;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 28px;
	cursor: pointer;
}

.case-delete:hover {
	cursor: pointer;
	background: #bc1339;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
}

.popup-error {
	position: relative;
	width: 50%;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fafafa;
	padding: 20px;
	text-align: center;
}

.close-popup {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 30px;
	cursor: pointer;
}